.selection-box {
    width: 85%;
    height: 85%;
    justify-self: center;
    align-self: start;
    box-sizing: content-box;
}

.selection-box-selected {
    border: 4px solid #00c600;
}

.selection-box-deselected {
    border: 4px solid black;
}

.selection-box > canvas {
    width: 100%;
    height: 10px;
    /*This is bad.*/
    top: 95%;
    position: relative;
}

.selection-box-minimized {
    display: none;
    width: 0%;
    height: 0%;
    justify-self: center;
    align-self: start;
    box-sizing: content-box;
}

.selection-box-fullscreen {
    width: 100%;
    height: 100%;
    justify-self: center;
    align-self: start;
    box-sizing: content-box;
    border: 0 !important;
}

.selection-box-fullscreen > canvas {
    display: none;
}