/* #part /css/ui/SelectionBox */

.selection-box {
    width: 200px;
    height: 200px;
    justify-self: center;
    align-self: start;
    box-sizing: content-box;
}

.selection-box-selected {
    border: 4px solid #00c600;
}

.selection-box-deselected {
    border: 4px solid black;
}